body {
    font-family: Poppins, sans-serif;
}

h1 {
    font-size: 96px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0A243C;
    margin: 0;
    padding-left: 30px;
}

h2 {
    font-size: 25px;
    font-weight: 400;
    color: #424242;
    margin-bottom: 20px;
}

h3 {
    font-size: 25px;
    font-weight: 400;
    color: #FFED63;
    margin: 10px 0 10px 0;
}

h4 {
    font-size: 22px;
    font-weight: 400;
    margin: 10px 0 10px 0;
}

ul, li {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

p {
    margin: 0;
}

.bold-name {
    font-weight: 600;
}

.a4-wrapper {
    width: 1530px;
    height: 1986px;
    display: flex;
    margin: 20px;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
}

.photo {
    width: 30%;
    background-color: #0B243D;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.avatar {
    box-sizing: border-box;
    height: 300px;
    border-radius: 50%;
    border: 3px solid white;
    vertical-align: middle;
    transform: scaleX(-1);
}

.contact-box {
    display: flex;
    flex-direction: column;
}

.contact-row {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    width: 50%;
}

.contact-row img {
    padding-left: 10px;
}

.contact-row span {
    padding-left: 20px;
}

main {
    box-sizing: border-box;
    height: 100%;
    background-color: white;
    display: flex;
    color: #424242;
}

.left-box {
    box-sizing: border-box;
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #0B243D;
}

.experience-box {
    box-sizing: border-box;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.company-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}